In [82]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

In [83]:
df=pd.read_csv('/home/mohammad/Desktop/Git Workspace/pandas_reporting/nt_data/logs/attendance-2021-02-01.csv',names=['id', 'name', 'datetime', 'distance', 'emotion'])

In [84]:
df.head()

     id       name                    datetime  distance  emotion
0  1007  Umme Hani  2021-02-01 11:26:06.528505  0.739909  neutral
1  1007  Umme Hani  2021-02-01 11:26:07.252654  0.748936  neutral
2  1007  Umme Hani  2021-02-01 11:26:07.461598  0.745613  neutral
3  1007  Umme Hani  2021-02-01 11:26:07.575653  0.749254  neutral
4  1007  Umme Hani  2021-02-01 11:26:08.249940  0.747589  neutral

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        311 non-null    int64
 1   name      311 non-null    object
 2   datetime  311 non-null    object
 3   distance  311 non-null    float64
 4   emotion   311 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 12.3+ KB

In [86]:
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)

In [87]:
df['datetime'] = pd.to_datetime(df['datetime'])
df.sort_values(by='datetime', inplace=True)

In [88]:
df['date'] = df['datetime'].apply(lambda x: x.date())   #nts
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 311 entries, 0 to 310
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        311 non-null    int64
 1   name      311 non-null    object
 2   datetime  311 non-null    datetime64[ns]
 3   distance  311 non-null    float64
 4   emotion   311 non-null    object
 5   date      311 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 17.0+ KB

In [89]:
df.head()

     id       name                   datetime  distance  emotion        date
0  1007  Umme Hani 2021-02-01 11:26:06.528505  0.739909  neutral  2021-02-01
1  1007  Umme Hani 2021-02-01 11:26:07.252654  0.748936  neutral  2021-02-01
2  1007  Umme Hani 2021-02-01 11:26:07.461598  0.745613  neutral  2021-02-01
3  1007  Umme Hani 2021-02-01 11:26:07.575653  0.749254  neutral  2021-02-01
4  1007  Umme Hani 2021-02-01 11:26:08.249940  0.747589  neutral  2021-02-01

In [90]:
df.id

0      1007
1      1007
2      1007
3      1007
4      1007
       ...
306    1018
307    1018
308    1018
309    1018
310    1018
Name: id, Length: 311, dtype: int64

In [91]:
gdf = df.groupby('id')

In [92]:
report = gdf.first()

In [93]:
report

,name,datetime,distance,emotion,date
id,,,,,
102,Mahfuzul Alam,2021-02-01 13:25:29.031455,0.716434,happy,2021-02-01
105,Arif Raihan,2021-02-01 13:25:44.353044,0.743186,sad,2021-02-01
1002,Tania Akter,2021-02-01 12:14:40.282302,0.717204,neutral,2021-02-01
1003,Mohammad Golam Kibria,2021-02-01 12:42:26.617638,0.665231,sad,2021-02-01
1004,Ruhul Azam,2021-02-01 11:26:53.760960,0.728704,happy,2021-02-01
1005,Anamul Habib,2021-02-01 13:20:46.833227,0.718910,neutral,2021-02-01
1007,Umme Hani,2021-02-01 11:26:06.528505,0.739909,neutral,2021-02-01
1011,Md. Hamiduzzaman,2021-02-01 12:33:24.310087,0.564552,fear,2021-02-01
1014,Ahnaf Serniabat,2021-02-01 11:31:28.082883,0.697436,neutral,2021-02-01
1015,Zarraf Ahmed,2021-02-01 12:10:53.718945,0.681555,neutral,2021-02-01
1017,Monir Ahmed,2021-02-01 11:51:35.874051,0.611523,neutral,2021-02-01
1018,Sabbir Ahmed,2021-02-01 12:10:30.613689,0.677231,sad,2021-02-01
1019,Imran hossain,2021-02-01 11:40:46.635357,0.704159,neutral,2021-02-01
20201,Shakhaout Hossain Shakib,2021-02-01 12:01:07.256097,0.651118,neutral,2021-02-01

In [94]:
report.rename(columns={'datetime': 'first_punch'}, inplace=True)

In [95]:
report

,name,first_punch,distance,emotion,date
id,,,,,
102,Mahfuzul Alam,2021-02-01 13:25:29.031455,0.716434,happy,2021-02-01
105,Arif Raihan,2021-02-01 13:25:44.353044,0.743186,sad,2021-02-01
1002,Tania Akter,2021-02-01 12:14:40.282302,0.717204,neutral,2021-02-01
1003,Mohammad Golam Kibria,2021-02-01 12:42:26.617638,0.665231,sad,2021-02-01
1004,Ruhul Azam,2021-02-01 11:26:53.760960,0.728704,happy,2021-02-01
1005,Anamul Habib,2021-02-01 13:20:46.833227,0.718910,neutral,2021-02-01
1007,Umme Hani,2021-02-01 11:26:06.528505,0.739909,neutral,2021-02-01
1011,Md. Hamiduzzaman,2021-02-01 12:33:24.310087,0.564552,fear,2021-02-01
1014,Ahnaf Serniabat,2021-02-01 11:31:28.082883,0.697436,neutral,2021-02-01
1015,Zarraf Ahmed,2021-02-01 12:10:53.718945,0.681555,neutral,2021-02-01
1017,Monir Ahmed,2021-02-01 11:51:35.874051,0.611523,neutral,2021-02-01
1018,Sabbir Ahmed,2021-02-01 12:10:30.613689,0.677231,sad,2021-02-01
1019,Imran hossain,2021-02-01 11:40:46.635357,0.704159,neutral,2021-02-01
20201,Shakhaout Hossain Shakib,2021-02-01 12:01:07.256097,0.651118,neutral,2021-02-01

In [96]:
report['last_punch'] =gdf.last()['datetime']

In [97]:
report

,name,first_punch,distance,emotion,date,last_punch
id,,,,,,
102,Mahfuzul Alam,2021-02-01 13:25:29.031455,0.716434,happy,2021-02-01,2021-02-01 13:25:57.006976
105,Arif Raihan,2021-02-01 13:25:44.353044,0.743186,sad,2021-02-01,2021-02-01 13:25:44.353044
1002,Tania Akter,2021-02-01 12:14:40.282302,0.717204,neutral,2021-02-01,2021-02-01 13:14:01.480548
1003,Mohammad Golam Kibria,2021-02-01 12:42:26.617638,0.665231,sad,2021-02-01,2021-02-01 13:25:44.470537
1004,Ruhul Azam,2021-02-01 11:26:53.760960,0.728704,happy,2021-02-01,2021-02-01 11:26:55.009012
1005,Anamul Habib,2021-02-01 13:20:46.833227,0.718910,neutral,2021-02-01,2021-02-01 13:37:34.488653
1007,Umme Hani,2021-02-01 11:26:06.528505,0.739909,neutral,2021-02-01,2021-02-01 11:26:08.249940
1011,Md. Hamiduzzaman,2021-02-01 12:33:24.310087,0.564552,fear,2021-02-01,2021-02-01 12:33:27.720095
1014,Ahnaf Serniabat,2021-02-01 11:31:28.082883,0.697436,neutral,2021-02-01,2021-02-01 13:48:47.783349
1015,Zarraf Ahmed,2021-02-01 12:10:53.718945,0.681555,neutral,2021-02-01,2021-02-01 13:25:45.289423
1017,Monir Ahmed,2021-02-01 11:51:35.874051,0.611523,neutral,2021-02-01,2021-02-01 11:51:37.504185
1018,Sabbir Ahmed,2021-02-01 12:10:30.613689,0.677231,sad,2021-02-01,2021-02-01 14:11:29.399443
1019,Imran hossain,2021-02-01 11:40:46.635357,0.704159,neutral,2021-02-01,2021-02-01 11:40:48.875458
20201,Shakhaout Hossain Shakib,2021-02-01 12:01:07.256097,0.651118,neutral,2021-02-01,2021-02-01 13:18:15.912421

In [98]:
report['timedelta'] = report['last_punch'] - report['first_punch']

In [99]:
report

,name,first_punch,distance,emotion,date,last_punch,timedelta
id,,,,,,,
102,Mahfuzul Alam,2021-02-01 13:25:29.031455,0.716434,happy,2021-02-01,2021-02-01 13:25:57.006976,0 days 00:00:27.975521
105,Arif Raihan,2021-02-01 13:25:44.353044,0.743186,sad,2021-02-01,2021-02-01 13:25:44.353044,0 days 00:00:00
1002,Tania Akter,2021-02-01 12:14:40.282302,0.717204,neutral,2021-02-01,2021-02-01 13:14:01.480548,0 days 00:59:21.198246
1003,Mohammad Golam Kibria,2021-02-01 12:42:26.617638,0.665231,sad,2021-02-01,2021-02-01 13:25:44.470537,0 days 00:43:17.852899
1004,Ruhul Azam,2021-02-01 11:26:53.760960,0.728704,happy,2021-02-01,2021-02-01 11:26:55.009012,0 days 00:00:01.248052
1005,Anamul Habib,2021-02-01 13:20:46.833227,0.718910,neutral,2021-02-01,2021-02-01 13:37:34.488653,0 days 00:16:47.655426
1007,Umme Hani,2021-02-01 11:26:06.528505,0.739909,neutral,2021-02-01,2021-02-01 11:26:08.249940,0 days 00:00:01.721435
1011,Md. Hamiduzzaman,2021-02-01 12:33:24.310087,0.564552,fear,2021-02-01,2021-02-01 12:33:27.720095,0 days 00:00:03.410008
1014,Ahnaf Serniabat,2021-02-01 11:31:28.082883,0.697436,neutral,2021-02-01,2021-02-01 13:48:47.783349,0 days 02:17:19.700466
1015,Zarraf Ahmed,2021-02-01 12:10:53.718945,0.681555,neutral,2021-02-01,2021-02-01 13:25:45.289423,0 days 01:14:51.570478
1017,Monir Ahmed,2021-02-01 11:51:35.874051,0.611523,neutral,2021-02-01,2021-02-01 11:51:37.504185,0 days 00:00:01.630134
1018,Sabbir Ahmed,2021-02-01 12:10:30.613689,0.677231,sad,2021-02-01,2021-02-01 14:11:29.399443,0 days 02:00:58.785754
1019,Imran hossain,2021-02-01 11:40:46.635357,0.704159,neutral,2021-02-01,2021-02-01 11:40:48.875458,0 days 00:00:02.240101
20201,Shakhaout Hossain Shakib,2021-02-01 12:01:07.256097,0.651118,neutral,2021-02-01,2021-02-01 13:18:15.912421,0 days 01:17:08.656324

In [100]:
report['spent'] = report['timedelta'].apply(lambda x: (datetime.fromisoformat("1990-01-01") + x).strftime("%H:%M:%S"))

In [101]:
report['percentile'] = report['timedelta'].apply(lambda x: int(((x.total_seconds()) / (8*3600)) * 100))

In [102]:
report

,name,first_punch,distance,emotion,date,last_punch,timedelta,spent,percentile
id,,,,,,,,,
102,Mahfuzul Alam,2021-02-01 13:25:29.031455,0.716434,happy,2021-02-01,2021-02-01 13:25:57.006976,0 days 00:00:27.975521,00:00:27,0
105,Arif Raihan,2021-02-01 13:25:44.353044,0.743186,sad,2021-02-01,2021-02-01 13:25:44.353044,0 days 00:00:00,00:00:00,0
1002,Tania Akter,2021-02-01 12:14:40.282302,0.717204,neutral,2021-02-01,2021-02-01 13:14:01.480548,0 days 00:59:21.198246,00:59:21,12
1003,Mohammad Golam Kibria,2021-02-01 12:42:26.617638,0.665231,sad,2021-02-01,2021-02-01 13:25:44.470537,0 days 00:43:17.852899,00:43:17,9
1004,Ruhul Azam,2021-02-01 11:26:53.760960,0.728704,happy,2021-02-01,2021-02-01 11:26:55.009012,0 days 00:00:01.248052,00:00:01,0
1005,Anamul Habib,2021-02-01 13:20:46.833227,0.718910,neutral,2021-02-01,2021-02-01 13:37:34.488653,0 days 00:16:47.655426,00:16:47,3
1007,Umme Hani,2021-02-01 11:26:06.528505,0.739909,neutral,2021-02-01,2021-02-01 11:26:08.249940,0 days 00:00:01.721435,00:00:01,0
1011,Md. Hamiduzzaman,2021-02-01 12:33:24.310087,0.564552,fear,2021-02-01,2021-02-01 12:33:27.720095,0 days 00:00:03.410008,00:00:03,0
1014,Ahnaf Serniabat,2021-02-01 11:31:28.082883,0.697436,neutral,2021-02-01,2021-02-01 13:48:47.783349,0 days 02:17:19.700466,02:17:19,28
1015,Zarraf Ahmed,2021-02-01 12:10:53.718945,0.681555,neutral,2021-02-01,2021-02-01 13:25:45.289423,0 days 01:14:51.570478,01:14:51,15
1017,Monir Ahmed,2021-02-01 11:51:35.874051,0.611523,neutral,2021-02-01,2021-02-01 11:51:37.504185,0 days 00:00:01.630134,00:00:01,0
1018,Sabbir Ahmed,2021-02-01 12:10:30.613689,0.677231,sad,2021-02-01,2021-02-01 14:11:29.399443,0 days 02:00:58.785754,02:00:58,25
1019,Imran hossain,2021-02-01 11:40:46.635357,0.704159,neutral,2021-02-01,2021-02-01 11:40:48.875458,0 days 00:00:02.240101,00:00:02,0
20201,Shakhaout Hossain Shakib,2021-02-01 12:01:07.256097,0.651118,neutral,2021-02-01,2021-02-01 13:18:15.912421,0 days 01:17:08.656324,01:17:08,16

In [103]:
report = report.drop(['distance', 'timedelta'], axis=1)

In [104]:
def get_remarks(time):
    time = time.to_pydatetime().time()
    remark = None
    # predefined time constraints
    in_time = datetime.strptime('11:30:59', '%H:%M:%S').time()
    late_start = datetime.strptime('11:31:00', '%H:%M:%S').time()
    late_end = datetime.strptime('13:00:59', '%H:%M:%S').time()
    half_start = datetime.strptime('13:01:00', '%H:%M:%S').time()
    half_end = datetime.strptime('15:30:59', '%H:%M:%S').time()
    late_half_start = datetime.strptime('15:31:00', '%H:%M:%S').time()
    late_half_end = datetime.strptime('16:30:59', '%H:%M:%S').time()
    absent_time = datetime.strptime('16:31:00', '%H:%M:%S').time()

    # in time
    if time > absent_time:
        remark = 'Absent'
    if late_half_start <= time <= late_half_end:
        remark = 'Late Half'
    if half_start <= time <= half_end:
        remark = 'Half Day'
    if late_start <= time <= late_end:
        remark = 'Late'
    if time <= in_time:
        remark = 'Normal'

    return remark

def calculate_deficiency(spent):
    actual_hour = datetime.strptime('08:00:00', '%H:%M:%S')
    spent = datetime.strptime(spent, '%H:%M:%S')
    deficit = actual_hour - spent

    deficit_td = (datetime.fromisoformat("1990-01-01") + deficit).strftime("%H:%M:%S")\
                 if deficit.days >= 0 else (datetime.fromisoformat("1990-01-01") + timedelta(0)).strftime("%H:%M:%S")
    return deficit_td

In [105]:
report['remarks'] = report['first_punch'].apply(lambda x: get_remarks(x))

In [106]:
report['first_punch'] = report['first_punch'].apply(lambda x: x.strftime("%H:%M:%S"))
report['last_punch'] = report['last_punch'].apply(lambda x: x.strftime("%H:%M:%S"))
report['deficiency'] = report['spent'].apply(lambda x: calculate_deficiency(x))

In [107]:
report

,name,first_punch,emotion,date,last_punch,spent,percentile,remarks,deficiency
id,,,,,,,,,
102,Mahfuzul Alam,13:25:29,happy,2021-02-01,13:25:57,00:00:27,0,Half Day,07:59:33
105,Arif Raihan,13:25:44,sad,2021-02-01,13:25:44,00:00:00,0,Half Day,08:00:00
1002,Tania Akter,12:14:40,neutral,2021-02-01,13:14:01,00:59:21,12,Late,07:00:39
1003,Mohammad Golam Kibria,12:42:26,sad,2021-02-01,13:25:44,00:43:17,9,Late,07:16:43
1004,Ruhul Azam,11:26:53,happy,2021-02-01,11:26:55,00:00:01,0,Normal,07:59:59
1005,Anamul Habib,13:20:46,neutral,2021-02-01,13:37:34,00:16:47,3,Half Day,07:43:13
1007,Umme Hani,11:26:06,neutral,2021-02-01,11:26:08,00:00:01,0,Normal,07:59:59
1011,Md. Hamiduzzaman,12:33:24,fear,2021-02-01,12:33:27,00:00:03,0,Late,07:59:57
1014,Ahnaf Serniabat,11:31:28,neutral,2021-02-01,13:48:47,02:17:19,28,Late,05:42:41
1015,Zarraf Ahmed,12:10:53,neutral,2021-02-01,13:25:45,01:14:51,15,Late,06:45:09
1017,Monir Ahmed,11:51:35,neutral,2021-02-01,11:51:37,00:00:01,0,Late,07:59:59
1018,Sabbir Ahmed,12:10:30,sad,2021-02-01,14:11:29,02:00:58,25,Late,05:59:02
1019,Imran hossain,11:40:46,neutral,2021-02-01,11:40:48,00:00:02,0,Late,07:59:58
20201,Shakhaout Hossain Shakib,12:01:07,neutral,2021-02-01,13:18:15,01:17:08,16,Late,06:42:52

In [108]:
report.reset_index(inplace=True)

In [109]:
report

,id,name,first_punch,emotion,date,last_punch,spent,percentile,remarks,deficiency
0,102,Mahfuzul Alam,13:25:29,happy,2021-02-01,13:25:57,00:00:27,0,Half Day,07:59:33
1,105,Arif Raihan,13:25:44,sad,2021-02-01,13:25:44,00:00:00,0,Half Day,08:00:00
2,1002,Tania Akter,12:14:40,neutral,2021-02-01,13:14:01,00:59:21,12,Late,07:00:39
3,1003,Mohammad Golam Kibria,12:42:26,sad,2021-02-01,13:25:44,00:43:17,9,Late,07:16:43
4,1004,Ruhul Azam,11:26:53,happy,2021-02-01,11:26:55,00:00:01,0,Normal,07:59:59
5,1005,Anamul Habib,13:20:46,neutral,2021-02-01,13:37:34,00:16:47,3,Half Day,07:43:13
6,1007,Umme Hani,11:26:06,neutral,2021-02-01,11:26:08,00:00:01,0,Normal,07:59:59
7,1011,Md. Hamiduzzaman,12:33:24,fear,2021-02-01,12:33:27,00:00:03,0,Late,07:59:57
8,1014,Ahnaf Serniabat,11:31:28,neutral,2021-02-01,13:48:47,02:17:19,28,Late,05:42:41
9,1015,Zarraf Ahmed,12:10:53,neutral,2021-02-01,13:25:45,01:14:51,15,Late,06:45:09
10,1017,Monir Ahmed,11:51:35,neutral,2021-02-01,11:51:37,00:00:01,0,Late,07:59:59
11,1018,Sabbir Ahmed,12:10:30,sad,2021-02-01,14:11:29,02:00:58,25,Late,05:59:02
12,1019,Imran hossain,11:40:46,neutral,2021-02-01,11:40:48,00:00:02,0,Late,07:59:58
13,20201,Shakhaout Hossain Shakib,12:01:07,neutral,2021-02-01,13:18:15,01:17:08,16,Late,06:42:52

In [110]:
report = report[['date','id','name','first_punch','last_punch','spent','deficiency','percentile','remarks','emotion']]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         14 non-null     object
 1   id           14 non-null     int64
 2   first_punch  14 non-null     object
 3   last_punch   14 non-null     object
 4   spent        14 non-null     object
 5   deficiency   14 non-null     object
 6   percentile   14 non-null     int64
 7   remarks      14 non-null     object
dtypes: int64(2), object(6)
memory usage: 1.0+ KB
None

In [111]:
print(report)

          date     id                      name first_punch last_punch  \
0   2021-02-01    102             Mahfuzul Alam    13:25:29   13:25:57
1   2021-02-01    105               Arif Raihan    13:25:44   13:25:44
2   2021-02-01   1002               Tania Akter    12:14:40   13:14:01
3   2021-02-01   1003     Mohammad Golam Kibria    12:42:26   13:25:44
4   2021-02-01   1004                Ruhul Azam    11:26:53   11:26:55
5   2021-02-01   1005              Anamul Habib    13:20:46   13:37:34
6   2021-02-01   1007                 Umme Hani    11:26:06   11:26:08
7   2021-02-01   1011          Md. Hamiduzzaman    12:33:24   12:33:27
8   2021-02-01   1014           Ahnaf Serniabat    11:31:28   13:48:47
9   2021-02-01   1015              Zarraf Ahmed    12:10:53   13:25:45
10  2021-02-01   1017               Monir Ahmed    11:51:35   11:51:37
11  2021-02-01   1018              Sabbir Ahmed    12:10:30   14:11:29
12  2021-02-01   1019             Imran hossain    11:40:46   11:40:48
13  2021-02-01  20201  Shakhaout Hossain Shakib    12:01:07   13:18:15

       spent deficiency  percentile   remarks  emotion
0   00:00:27   07:59:33           0  Half Day    happy
1   00:00:00   08:00:00           0  Half Day      sad
2   00:59:21   07:00:39          12      Late  neutral
3   00:43:17   07:16:43           9      Late      sad
4   00:00:01   07:59:59           0    Normal    happy
5   00:16:47   07:43:13           3  Half Day  neutral
6   00:00:01   07:59:59           0    Normal  neutral
7   00:00:03   07:59:57           0      Late     fear
8   02:17:19   05:42:41          28      Late  neutral
9   01:14:51   06:45:09          15      Late  neutral
10  00:00:01   07:59:59           0      Late  neutral
11  02:00:58   05:59:02          25      Late      sad
12  00:00:02   07:59:58           0      Late  neutral
13  01:17:08   06:42:52          16      Late  neutral

In [112]:
report.to_excel('report1feb.xlsx')